%% -*- mode: erlang -*-

{erl_opts, [debug_info]}.

{deps, [
         {cowboy,   "2.7.0"}
       , {nitrogen_core,       {git, "git://github.com/bunnylushington/nitrogen_core", {tag, "master"}}}
       , {sync,                {git, "git://github.com/rustyio/sync",                  {ref, "master"}}}

       , {yamerl,   "0.8.0"}
       , {jsx,      "3.0.0"}
       , {pgpool,   "2.1.0"}
       , {gen_smtp, "1.0.1"}
       , {duoweb,   "1.0.0"}
       , {erlydtl,  "0.13.1"}
       , {erlpass,             {git, "git://github.com/ferd/erlpass",                  {ref, "master"}}}
       , {qdate,               {git, "git://github.com/choptastic/qdate",              {ref, "0a7d808"}}}
       , {erlsom,              {git, "git://github.com/willemdj/erlsom",               {ref, "e2c1e1f"}}}
       , {uuid,                {git, "git://github.com/avtobiff/erlang-uuid",          {ref, "cb02a20"}}}
       , {nxo_db,              {git, "git://github.com/nxolib/nxo_db",                 {ref, "main"}}}
       , {nxo_template,        {git, "git://github.com/nxolib/nxo_template",           {ref, "main"}}}
       , {nxo,                 {git, "git://github.com/nxolib/nxo",                    {ref, "main"}}}
       , {paginate,            {git, "git://github.com/bunnylushington/paginate",      {ref, "25eca6f"}}}
       ]}.

{relx, [{release, { {{name}}, {git, short}}, [{{name}}]},
        {overlay, [{copy, "environment", "environment"}]},
        {dev_mode, false},
        {include_erts, false},
        {debug_info, keep},
        {sys_config_src, "config/sys.config.src"},
        {extended_start_script, true}]}.

{shell, [{apps, [{{name}}]},
         {env_file, "environment/dev.env"}]}.
