%% -*- mode: erlang -*-

{erl_opts, [debug_info]}.

{deps, [
        {nxo, {git, "git://github.com/nxolib/nxo", {ref, "main"}}}
       ]}.

{relx, [{release, { {{name}}, {file, ".version"}}, [{{name}}]},
        {overlay, [{copy, "environment", "environment"}]},
        {dev_mode, false},
        {include_erts, false},
        {debug_info, keep},
        {sys_config_src, "config/sys.config.src"},
        {extended_start_script, true}]}.

{shell, [{apps, [{{name}}]},
         {env_file, "environment/dev.env"}]}.
